body{
    display: flex;

}

.splitleft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splitright{
    width: 50%;
    padding: 10%;

}

input[type=text],input[type=number],input[type=password]{
    width: 100%;
    padding: 1vw;
  margin: 1vw;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
